body {
    background-color: #272727;
    color: #aeaeae;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-container2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#showMoreDiv {
    background-color: rgb(137, 198, 199);
    color: #272727;
    border-radius: 20px;
}

#cameraContainer {
    border: 3px solid #aeaeae;
    border-radius: 5px;
    display: flex;
}

a:link {
  color: rgb(39,252,255);
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

.sensorDataSmall {
    width: 25%;
}

.sensorDataLarge {
    width: 40%;
}

.data-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#hefChart {
    width: 100%
}

#batChart {
    width: 100%
}

#imuChart {
    width: 100%
}

#tmpChart {
    width: 100%
}

#hmdChart {
    width: 100%
}

#showMoreButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    color: rgb(39,252,255);
    overflow: hidden;
    outline: none;
}

#export {
    cursor: pointer;
    float: right;
}

.slide-container {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(39,252,255);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(39,252,255);
  cursor: pointer;
}

.controlButton {
    padding: 7px 24px;
}

.output {
  color: #aeaeae;
  text-align: center;
}

.divider{
    width:25px;
    height:auto;
    display:inline-block;
}

.button-divider{
    width:10px;
    height:auto;
    display:inline-block;
}