<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="carid" data-name="{{carid}}">
    <title> RC Car Dashboard </title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
    <script src="../static/scripts.js"> </script>
    <script src="../static/configs.js"></script>
</head>
<style>
    h1 {display:inline;}
</style>
<body>
    <div>
        <a href="/">&lt; Go back</a>
        <input type="button" class="rightMenuButton" value="Export Data" onclick="exportSensorData()">
    </div>
    <br>
    <br>
    <h1>Dashboard for:</h1>
    <h1 id="car_id">{{carid}}</h1>
    <div class="flex-container">
        <div class="cameraContainer">
            <img src="/api/client/{{carid}}/video_feed">
        </div>
        <div id="controlContainer">
            <h2 style="text-align:center; color:black; font-weight:bold"> Vehicle Controls </h2>
            <h3> Start/Stop Autonomous Driving </h3>
            <div class="flex-container2">
                <button id="startCar" class="controlButton" onclick="startCar()">Start</button>
                <button id="stopCar" hidden class="controlButton" onclick="stopCar()">Stop</button>
            </div>
            <br>
            <h3> Top Speed </h3>
            <div id="slide-container">
                <input type="range" min="0" max="20" class="slider" id="myRange">
                <p class="output">Speed: <span id="speed"></span>%</p>
            </div>
            <h3> Driving Options </h3>
            <div class="flex-container2">
                <select style="cursor:pointer">
                    <option selected disabled>Driving Mode</option>
                    <option value="Race Mode">Race Mode</option>
                    <option value="Sensor Mode">Sensor Mode</option>
                </select>
                <select style="cursor:pointer">
                    <option selected disabled>Driving Algorithm</option>
                    <option value="Lane Following">Lane Following</option>
                    <option value="Raytracing">Raytracing</option>
                </select>
            </div>
            <div class="divider"></div>
            <div class="center">
                <button id="selectColorButton" onclick="document.location.href += this.value" style="text-align:center"
                    value="/colorselector">Select Lane Color</button>
            </div>
            <br>
        </div>
    </div>
    <br>
    <br>

    <script src="../static/scripts.js"> </script>

    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <div class="flex-container">
        <div class="sensorDataSmall data-container">
            <div id="halleffect">
                <canvas id="hefChart" height="400px"></canvas>
            </div>
            <div id="battery">
                <canvas id="batChart" height="400px"></canvas>
            </div>
        </div>
        <div class="sensorDataLarge data-container">
            <div id="imu">
                <canvas id="imuChart" height="600px"></canvas>
            </div>
        </div>
        <div class="sensorDataSmall data-container">
            <div id="temperature">
                <canvas id="tmpChart" height=400px"></canvas>
            </div>
            <div id="humidity">
                <canvas id="hmdChart" height="400px"></canvas>
            </div>
        </div>
    </div>
    <script>
    let slider = document.getElementById("myRange");
    let speed = document.getElementById("speed");
    speed.innerHTML = (slider.value)*5;

    slider.oninput = function() {
        let speedValue = (this.value)*5;
        speed.innerHTML = speedValue;

        const carid = document.getElementById('car_id').innerText;
        const source_string = "/api/car/" + carid + "/set/speed/" + speedValue;
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", source_string, true);
        xhttp.send();
    }
    </script>
</body>
</html>