<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="carid" data-name="{{carid}}">
    <title> RC Car Dashboard </title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
    <script src="../static/scripts.js"> </script>
    <script src="../static/configs.js"></script>
    <title>Car {{carid}}</title>
</head>
<style>
    h1 {display:inline;}
</style>
<body>
    <div>
        <a href="/">&lt; Go back</a>
        <input type="button" id="export" value="Export Data" onclick="exportSensorData()">
    </div>
    <br>
    <br>
    <h1>Dashboard for Car:</h1>
    <h1 id="car_id">{{carid}}</h1>
    <div class="flex-container">
        <div id="cameraContainer">
<!--            <img src="{# url_for('video_feed') #}">-->
        </div>
        <div class="flex-container">
            <div>
                <button style="background-color:lightgreen" class="controlButton">Start</button>
            </div>
            <div class="button-divider"></div>
            <div>
                <button style="background-color:red" class="controlButton">Stop</button>
            </div>
            <div class="divider"></div>
            <div id="slide-container">
                <input type="range" min="0" max="20" value="10" class="slider" id="myRange">
                <p class="output">Speed: <span id="demo"></span>%</p>
            </div>
        </div>
    </div>
    <br>
    <br>

    <script src="../static/scripts.js"> </script>

    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <div class="flex-container">
        <div class="sensorDataSmall data-container">
            <div id="halleffect">
                <canvas id="hefChart" height="400px"></canvas>
            </div>
            <div id="battery">
                <canvas id="batChart" height="400px"></canvas>
            </div>
        </div>
        <div class="sensorDataLarge data-container">
            <div id="imu">
                <canvas id="imuChart" height="600px"></canvas>
            </div>
        </div>
        <div class="sensorDataSmall data-container">
            <div id="temperature">
                <canvas id="tmpChart" height=400px"></canvas>
            </div>
            <div id="humidity">
                <canvas id="hmdChart" height="400px"></canvas>
            </div>
        </div>
    </div>
    <script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = (slider.value)*5;

    slider.oninput = function() {
      output.innerHTML = (this.value)*5;
    }
    </script>
</body>
</html>