<html>
    <head>
        <title>ME XXXX Homepage</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <h1>Welcome to ME XXXX</h1>
        <div class="flex-container">
            <div>
                <h2> Modular AI/Sensors Package MQP </h2>
                <p> To learn more about our MQP, view our <a href="/">documentation</a></p>
                <h4> Autonomous Driving </h4>
                <video width="400" height="300" controls>
                    <source src="../static/media/test_run.mov" type="video/mp4">
                </video>
            </div>
            <div>
                <h2> Manage your Car </h2>
                <p> To access your vehicle's dashboard:</p>
                <ol>
                    <li> Power on the Raspberry Pi and Servo in your vehicle's AI/Sensors package </li>
                    <li> Refresh this page. You should see your vehicle's name in the drop-down menu below </li>
                    <li> Select your vehicle's name to be taken to your dashboard. Once there, you
                        will have three options: </li>
                        <ul>
                            <li> <span style="color:red"> 'Start' </span> - signals vehicle to start autonomously driving </li>
                            <li> <span style="color:red"> 'Stop' </span> - signals vehicle to stop driving </li>
                            <li> <span style="color:red"> 'Change Speed' </span> - change your vehicle's top speed from
                                0.2-X throttle </li>
                        </ul>
                </ol>
                <select style="cursor:pointer" onchange="document.location.href += this.value">
                    <option selected>Choose a car</option>
                    {% for carid in cars %}
                    <option value="dashboard/{{carid}}">{{cars[carid]}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br>
        <div id="showMoreDiv" style="display:none">
            <br>
            <h2> &nbsp; Brief Technical Overview </h2>
            <div id="technicalInfo" class="flex-container2">
                <div>
                    <h3> Modular Package </h3>
                    <img src="../static/media/sensors.jpeg" alt="Modular Sensors Package" width="300">
                </div>
                <div>
                    <h3> System Architecture </h3>
                    <img src="../static/media/architecture.jpeg" alt="System Architecture" width="500">
                    <p> Small Description here </p>
                </div>
            </div>
            <br> <br>
        </div>
        <br>
        <button id=showMoreButton onclick="showMore()"> Show More </button>
        <br>
        <br>
        <script>
            function showMore() {
                let button = document.getElementById('showMoreButton');
                let outerDiv = document.getElementById('showMoreDiv');
                let info = document.getElementById('technicalInfo');
                if (outerDiv.style.display === "block") {
                    outerDiv.style.display = "none";
                    button.innerHTML = "Show More";
                } else {
                    outerDiv.style.display = "block";
                    info.style.display = "flex";
                    console.log(info.currentStyle);
                    button.innerHTML = "Show Less";
                    window.scrollTo(0,outerDiv.scrollHeight);
                }
            };
        </script>
    </body>
</html>

